	<li><h4><%= comment.user.email %></h4><%= comment.reply %>
		<%= link_to "New Comment", [ :comment, comment], :class => "new" %></
	</li>
<%	unless comment.comments.empty? %>
<%		comment.comments.each do |comment| %>
		<ul class="respond-list">
			<%= render 'comments/comments', :comment => comment %>
		</ul>
	<% end %>
<% end %>




