
<%= paginate @links %>
<table class ="table table-striped">
	<thead>
		<tr>
			<td>
				Vote
			</td>
			<td>
				Total Votes
			</td>
			<td>
				Title
			</td>
			<td>
				Link
			</td>
			<td>
				Author
			</td>
		</tr>
	</thead>

<% @links.each_with_index do |article|%>
	<%= render :partial => 'article', :locals => {:article => article} %>
<% end %>
</table>
<%= paginate @links %>

		